
<div class = "recolher">
        <label for ="sala">Nome Completo</label>
        <br />
        <input id="Nome" type="nome" maxlength="20" minlength="1" name="nome" />
        <br />
        <label for ="capacidade">Capacidade da sala</label>
        <br />
        <input id="numero" type="numero" maxlength="2" minlength="1" name="capacidade" />
        <input type="submit" value="Criar" />
    </div>