<!-- <form method="POST" action='@Url.Action("", "Cadastro")'>  -->

    <div class = "recolher">
        <label for ="sala">Numero da sala</label>
        <br />
        <input id="numero" type="numero" maxlength="2" minlength="1" name="sala" />
        <br />
        <label for ="capacidade">Capacidade da sala</label>
        <br />
        <input id="numero" type="numero" maxlength="2" minlength="1" name="capacidade" />
        <br />
        <a href= '@Url.Action("Index", "Home")'><input type="submit" value="Criar" /></a>
    </div>